
Comics.xcodeproj/project.xcworkspace/contents.xcworkspacedata

Comics.xcodeproj/project.xcworkspace/xcuserdata/Sergio.xcuserdatad/UserInterfaceState.xcuserstate

Comics.xcodeproj/project.xcworkspace/xcuserdata/Sergio.xcuserdatad/WorkspaceSettings.xcsettings

Comics.xcodeproj/xcuserdata/Sergio.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist

Comics.xcodeproj/xcuserdata/Sergio.xcuserdatad/xcschemes/Comics.xcscheme

Comics.xcodeproj/xcuserdata/Sergio.xcuserdatad/xcschemes/xcschememanagement.plist
